body {
  font-family: sans-serif;
}

.App {
  align-items: center;
  justify-content: center;
  background: rgb(245, 245, 220);
  background: linear-gradient(
    180deg,
    rgba(245, 245, 220, 1) 0%,
    rgba(255, 255, 255, 1) 80%
  );
  display: flex;

  h1 {
    color: saddlebrown;
  }
}
