.Game {
  width: 100%;
}

.Game__header {
  align-items: center;
  display: flex;
  img {
    cursor: pointer;
    height: 50px;
    margin: 1rem;
    width: 50px;
    &:hover {
      opacity: 0.5;
    }
  }
}

.Game__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.Game__body__bottom {
  display: flex;
  justify-content: space-between;
}
