.WorldMap {
  background: rgb(245, 245, 220);
  background: linear-gradient(
    180deg,
    rgba(245, 245, 220, 1) 0%,
    rgba(255, 255, 255, 1) 80%
  );
  display: grid;
  grid-template-columns: repeat(12, 2rem);
  grid-template-rows: repeat(12, 2rem);
}

.WorldMap__room {
  align-items: center;
  background: saddlebrown;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 0.5rem;
  justify-content: center;
  &.active {
    opacity: 0.5;
  }
}
