.WorldMap {
  // border: 1px solid red;
  background: rgb(245, 245, 220);
  background: linear-gradient(
    180deg,
    rgba(245, 245, 220, 1) 0%,
    rgba(255, 255, 255, 1) 80%
  );
  display: grid;
  grid-template-columns: repeat(5, 4rem);
  grid-template-rows: repeat(5, 4rem);
}

.WorldMap__room {
  border-radius: 10px;
  background: saddlebrown;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    opacity: 0.5;
  }
}
